.field-item {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
}

button.submit-form {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  button:hover {
    background-color: #0056b3;
  }
}
