<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Tags</th>
      <th>Identifier</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workspace of data.workspaces">
      <td>{{ workspace.id }}</td>
      <td>
        <a [href]="workspace.selfHref" target="_blank">
          {{ workspace.name }}
        </a>
      </td>
      <td>
        <span>
          {{ workspace.tags }}
        </span>
      </td>
      <td><i [ngClass]="workspace.identifierIcon"></i></td>
    </tr>
  </tbody>
</table>
